.instructor {
  text-align: center;
  @include mq($from: tablet) {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    .name{
      margin-bottom: 20px;
    }
  }
}
.instructor-pic {
  border-radius: 50%;
  background-color: $dark-green;
  width: 200px;
  height: 200px;
}
.description {
  width: 80%;
  margin: 50px auto;
}
