$dark-green: #0a402b;
$background: #ebebe8;
$brown: #bb8462;
$button: hsla(82,14%,70%,.5);
$green: #b6bea8;
$orange: #E99938;
$dark-brown: #584632;
$mustard: #B58F2A;
$indaco: #ABCACD;
$white: #ffffff;
$black: #000000;
$yellow: #fae596;
$torquoise: #3fb0ac;
$dark-torquoise: #173e43;
$gray: #dddfd4;
$mine-shaft: #333333;
$silver-chalice: #aaaaaa;

$font-quicksand: 'Quicksand', sans-serif;
$font-openSans: 'Open Sans', sans-serif;
$font-pacifico: 'Pacifico', Helvetica, sans-serif;

$base-font-size: 16px;
