#app {
  background-color: $background;
  .hero {
    background-image: url('./assets/images/dog-agility-camp.jpg');
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    margin-top: -65px;
    height: 500px;
  }
  .navigation-bar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  a,
  &:visited  {
    color: white;
  }
  .list-items-container {
    padding: 5px;
    display: flex;
    margin: 0;
    .navigation-list-item {
      list-style-type: none;
      font-size: 14px;
      padding: 10px;
      margin: 10px;
      .title-list{
        display: none;
      }
    }
  }

  .icon-mobile {
    color: $dark-torquoise
  }

  @media(min-width: 768px) {
    .navigation-bar {
      a {
        color: $dark-torquoise;
      }
      .logo {
        margin-left: 20px;
      }
      .list-items-container {
        .navigation-list-item{

          .title-list{
            display: block;
          }
          .icon-mobile {
            display: none;
          }
        }
      }
    }
    .swiper-container {
      margin-top: 0;
    }
  }
}
//
// .slide01 {
//   background-image: url("./assets/images/agility.png");
// }
// .slide02 {
//   background-image: url("./assets/images/labrador.jpg");
// }
// .slide03 {
//   background-image: url("./assets/images/playing-dog.jpg");
// }

// header images
.parallax {
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
