#corsi {

  .all-courses-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .course-container {
    width: 100%;
    height: auto;
    margin: 15px 0;
    background-color: $white;
    .img-container {
      height: 200px;
      margin: 0 auto;
      width: 100%;
      background-color: $yellow;
      // border-radius: 50%;
      overflow: hidden;
    }
    .img-course {
      display: block;
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
    .text-container {
      margin: 20px auto;
      width: 90%;
      .text {
        word-wrap: break-word;
      }
    }
  }
}
@media(min-width: 601px) {
  #corsi {
    .course-container{
      width: 100%;
      margin: 5% auto;
      display: flex;
      .img-container {
        width: 30%;
        height: 230px;
        // border-radius: 50%;
        overflow: hidden;

      }
      .text-container {
        width: 70%;
        position: relative;
        height: auto;
        vertical-align: top;
        h3 {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 10%;
        }
        p {
          position: absolute;
          top: 30%;
          width: 85%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
