#corsi {
  width: 100%;
  margin: 50px auto;
  .all-courses-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .course-container {
    width: 30%;
    height: auto;
    margin: 15px;
    .img-course {
      height:250px;
      background-color: $brown;
      opacity: 0.5;
      display: block;
    }
  }
}
