// colours
$dark-green: #0a402b;
$background: #ebebe8;
$brown: #bb8462;
$button: hsla(82,14%,70%,.5);
$green: #b6bea8;
$orange: #E99938;
$dark-brown: #584632;
$mustard: #B58F2A;
$indaco: #ABCACD;
$white: #ffffff;
$black: #000000;

// typography
@import url('https://fonts.googleapis.com/css?family=BioRhyme|Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato|Lora|Open+Sans');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'BioRhyme', serif;
// font-family: 'Roboto', sans-serif;

html {
  box-sizing: border-box;
  body {
    font-size: 0.9em;
    font-family: 'Lora', serif;
    margin: 0;
  }
  // .VueCarousel-slide {
  //   flex-basis: initial;
  // }
  // .VueCarousel-wrapper,
  // .VueCarousel-inner {
  //   height: 100%;
  // }
  h1,
  h2,
  h3 {
    text-align: center;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  p{
    font-size: 14px;
    font-weight: normal;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}
