#sports {
  width: 100%;
  margin: 50px auto;
  .parallax--sports {
    min-height: 400px;
    background-image: url('./assets/images/dog-agility-camp.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.8;
    h1 {
      position: absolute;
      @include center(xy);
      width: 100%;
      font-size: 4em;
      margin: 0;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    @include center(y);
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-container {
    margin: 80px auto;
    width: 90%;
  }

  @media(min-width:768px) {
    .swiper-slide {
      display: flex;
      align-content: flex-end;
      flex-direction: column;
      .title-sport,
      .sport-description {
        text-align: right;
        padding-right: 50px;
      }
      .sport-description {
        padding-left: 50%;
      }
    }
  }

}
