#sports {
  width: 100%;
  margin: 50px auto;

  .parallax--sports {
    min-height: 400px;
    background-image: url('./assets/images/dog-agility-camp.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }

  .all-sports-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .sport-container {
    width: 30%;
    height: auto;
    margin: 15px;
    .img-sport {
      height:250px;
      background-color: $brown;
      opacity: 0.5;
      display: block;
    }
  }
}
